<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Info"
      internalLogFile="internal-nlog.txt">

  <!-- Define targets -->
  <targets>
    <!-- File Target -->
    <target xsi:type="File" name="file" fileName="C:/Users/friedemann.schuetz/EP_Copilot/EPCopilot_Deepseek/logs/logfile.txt"
            layout="${longdate} ${level:uppercase=true} ${message}" />
  </targets>

  <!-- Define rules -->
  <rules>
    <logger name="*" minlevel="Info" writeTo="file" />
  </rules>
</nlog>